  .custom-scrollbar {
    overflow: auto;
  }
  
  /* .custom-scrollbar-content { */
    /* padding-right: 5px; Khoảng trống giữa nội dung và thanh cuộn */
  /* } */
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: white;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(176, 118, 118, 0.207);
    border-radius: 10px;
  }